* {
  box-sizing: border-box;

}

//! variables 
$gold: #d4af37;

@font-face {
  font-family: 'HP';
  src: url('./fonts/HarryP-MVZ6w.eot');
  src: url('./fonts/HarryP.woff') format('woff'),
    url('./fonts/HarryP.ttf') format('truetype'),
    url('./fonts/HarryP.svg#HP') format('svg');
  font-weight: normal;
  font-style: normal;
}
.site-wrapper{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}
.navbar {
  border: 1px solid black;
  .container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 10vh;
  }
  .nav-link{
    margin-left: 5px;
    text-decoration: none;
  }
  .brand{
    text-decoration: none;
  }
}

.hero{
  border: 1px solid black;
  width: 60vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  padding: 30px;
  .hero-container{
    .heading{
      margin-top: 0px;
    }
    margin-top: 0px;
  }
}

.footer{
  border: 1px solid black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-bottom: 0;

}

// h1 {
//   font-family: 'HP';
//   font-size: 140px;
//   color: 	$gold;
// }
// main {
//   height: 100vh;
//   background-image: url('../images/darkstorm.jpeg');
//   background-repeat: no-repeat;
// }